<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}} <!-- Este es el espacio donde se inyectarán las vistas como home.handlebars o realTimeProducts.handlebars -->
</body>
</html>
